{% extends "AdminHome.html" %}
{% block content %}
<div class="content">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">

            <div class="form-group">
                {{form.client_id.label(class="form-control-label")}}
                {% if form.client_id.errors %}
                {{form.label(class="form-control-label is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.client_id.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{form.client_id(class="form-control")}}
                {% endif %}
            </div>


            <div class="form-group">
                {{form.total.label(class="form-control-label")}}
                {% if form.total.errors %}
                {{form.label(class="form-control-label is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.total.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{form.total(class="form-control")}}
                {% endif %}
            </div>

            <div class="form-group">
                {{form.date.label(class="form-control-label")}}
                {% if form.date.errors %}
                {{form.label(class="form-control-label is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.date.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{form.date(class="form-control")}}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{form.submit(class="btn btn-primary")}}
        </div>

    </form>
</div>

<br>
<div class = "content">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Client ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Total</th>
                <th scope="col">Due</th>
            </tr>
        </thead>
        <tbody>
            {% for client in clients %}
            <tr>
                <th scope="row">{{user.id}}</th>
                <td>{{user.first_name}}</td>
                <td>{{user.last_name}}</td>
                <td>{{bill.total}}</td>
                <td>{{bill.date}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}