{% extends "AdminHome.html" %}
{% block content %}
<div class="content">
    <form action="" method="POST">
        {{  form.hidden_tag() }}
        <fieldset class="form-group">

            <div class="form-group">
                {{form.select_meeting.label(class="form-control-label")}}
                {% if form.select_meeting.errors %}
                    {{form.select_meeting(class="form-control is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.select_meeting.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{form.select_meeting(class="form-control")}}
                {% endif %}
            </div>








        <br><br>

        <div class="form-group">
            {{form.submit(class="btn btn-primary")}}
        </div>

        </fieldset>

    </form>
</div>

{% endblock content %}