{% extends "AdminHome.html" %}
{% block content %}

    <div class = "content">
        <div class="text-center">
            <h3>Display Meetings By Day</h3>
        </div>
        <br>
        <form action="#" method="POST">
            {{ form.dt.label(class="form-control-label") }}<br>
            {{ form.dt(class_="form-control") }}
            {{ form.hidden_tag() }}
            <br>
            {{form.submit(class="btn btn-primary")}}
        </form>
        <br>
        <a href="{{url_for('adminDisplayMeetings')}}">Return To Display Meetings Selection Page</a>
    </div>
    <br>
    <div class="content">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Room #</th>
            <th scope="col">Date</th>
            <th scope="col">Start Time</th>
            <th scope="col">End Time</th>
            <th scope="col">Creator</th>
          </tr>
        </thead>
        <tbody>
          {% for meeting in meetings %}
          <tr>
            <th scope="row">{{meeting.room_id}}</th>
            <td>{{meeting.start_time.date().strftime("%m-%d-%y")}}</td>
            <td>{{meeting.start_time.time().strftime("%I:%M %p")}}</td>
            <td>{{meeting.end_time.time().strftime("%I:%M %p")}}</td>
            <td>{{meeting.creator}}</td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
    </div>

{% endblock content %}