{% extends "AdminHome.html" %}
{% block content %}
<div class="content">
    <form name="Item_1" action="/getMeeting" method="POST">
        {{  form.hidden_tag() }}

        <label for="ChooseMeeting">Choose Meeting</label>
        <br>
            <select name="meetings">
                {% for meeting in meetings %}
                    <option value= "{{meeting}}" SELECTED>{{meeting}}</option>
                {% endfor %}
            </select>

        <br><br>
        <div class="form-group">
            {{form.submit(class="btn btn-primary")}}
        </div>
    </form>
</div>

{% endblock content %}