{% extends "AdminHome.html" %}
{% block content %}
<div class="content">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">

            <div class="form-group">
                {{form.client_select.label(class="form-control-label")}}
                {% if form.client_select.errors %}
                {{form.client_select.label(class="form-control-label is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.client_select.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{form.client_select(class="form-control")}}
                {% endif %}
            </div>

        </fieldset>
        <div class="form-group">
            {{form.submit(class="btn btn-primary")}}
        </div>

    </form>
</div>

{% if billform %}
    <div class="content">
        <form method="POST" action="">
        {{billform.hidden_tag()}}
            <fieldset class = "form-group">
                {{billform.client.label(class="form-control-label")}}
                {{billform.client(class="form-control")}}

                {{billform.client_id.label(class="form-control-label")}}
                {{billform.client_id(class="form-control")}}

                {{billform.current_total.label(class="form-control-label")}}
                {{billform.current_total(class="form-control")}}

                {{billform.new_total.label(class="form-control-label")}}
                {% if billform.new_total.errors %}
                    {{billform.new_total(class="form-control is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in billform.new_total.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                {{billform.new_total(class="form-control")}}
                {% endif %}
            </fieldset> 

            <div class="form-group">
                {{billform.submit(class="btn btn-primary")}}
            </div>
        </form>
    </div>
{% endif %}



<br>
<div class = "content">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Bill ID</th>
                <th scope="col">Total</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for bill in bills %}
            <tr>
                <th scope="row">{{bill.id}}</th>
                <td>${{bill.total}}</td>
                <td>{{bill.date}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}