{% extends "AdminHome.html" %}
{% block content %}
 <div class = "content">

        <div class="text-center">
            <h3>Display Meetings By Room</h3>
        </div>
        <br>

        <form action="#" method="POST">
            {{ form.select_room.label(class="form-control-label") }}<br>
            {{ form.select_room }}
            {{ form.hidden_tag() }}
            <ul>
                {%  for error in form.select_room.errors %}
                <li>{{  error }}</li>
                {%  endfor %}
            </ul>
            <input type="submit"/>

        </form>

        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Room #</th>
                <th scope="col">Start Date & Time</th>
                <th scope="col">End Date & Time</th>
                <th scope="col">Creator ID</th>
              </tr>
            </thead>
            <tbody>
              {% for meeting in meetings %}
              <tr>
                <th scope="row">{{meeting.room_id}}</th>
                <td>{{meeting.start_time}}</td>
                <td>{{meeting.end_time}}</td>
                <td>{{meeting.creator}}</td>
              </tr>
              {% endfor %}
            </tbody>
        </table>

    <a href="AdminDisplayMeetings">Return To Display Meetings Selection Page</a>
    </div>




{% endblock content %}