{% extends "AdminHome.html" %}
{% block content %}
<div class="content">
    <form method="POST" action="">
        {{ delform.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group">
                {{delform.del_room.label(class="form-control-label")}}
                {% if delform.del_room.errors %}
                {{delform.label(class="form-control-label is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in delform.del_room.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{delform.del_room(class="form-control")}}
                {% endif %}
            </div>
        </fieldset>

        <div class="form-group">
            {{delform.submit(class="btn btn-primary")}}
        </div>
    </form>

    <form method="POST" action="">
        {{ addform.hidden_tag() }}
        <fieldset class="form-group">

            <div class="form-group">
                {{addform.add_room.label(class="form-control-label")}}
                {% if addform.add_room.errors %}
                {{addform.label(class="form-control-label is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in addform.add_room.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{addform.add_room(class="form-control")}}
                {% endif %}
            </div>
            <div class="form-group">
                {{addform.is_special(class="form-check-input")}}
                <p class = "tab" style = "margin-left: 60px">{{addform.is_special.label(class="form-check-label")}}</p>
            </div>

        </fieldset>
        <div class="form-group">
            {{addform.submit(class="btn btn-primary")}}
        </div>

    </form>
</div>

<br>
<div class = "content">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Room #</th>
            <th scope="col">Special</th>
            <th scope="col">Cost</th>
          </tr>
        </thead>
        <tbody>
          {% for room in rooms %}  
          <tr>
            <th scope="row">{{room.id}}</th>
            <td>{{room.special}}</td>
            {% if room.cost %}
                <td>${{room.cost}}</td>
            {% else %}
                <td>{{room.cost}}</td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>

{% endblock content %}
