{% extends "Home.html" %}
{% block content %}
<div id="calendar" class="content h-100 w-100"></div>
    <script>
        let calendar_element = document.getElementById('calendar');
        let calendar = new FullCalendar.Calendar(calendar_element, {
            initialView: 'timeGridWeek',
            height: 600,
            nowIndicator: true,
            selectable: true,
            eventBackgroundColor: 'blue',
            
            events : [
                    {% for event in events %}
                    {
                        title : '{{event.title}}',
                        start : '{{event.start}}',
                    },
                    {% endfor %}
                ], 
                
            eventClick: function(clickInfo){

                var events = calendar.getEvents();
                var length = events.length;
                for(var i = 0; i < length; i++){
                    if(events[i].backgroundColor == 'red'){
                        events[i].setProp('backgroundColor', 'blue');
                    }
                    
                }

                if(clickInfo.event.backgroundColor == 'red'){
                    clickInfo.event.setProp('backgroundColor', 'blue');
                    var e = document.getElementById('meeting-content');
                    e.style.display ='none';
                }
                else{
                    clickInfo.event.setProp('backgroundColor', 'red');
                    var e = document.getElementById('meeting-content');
                    e.style.display ='block';
                    e = document.getElementById('meeting-title');
                    e.innerHTML = "<b>Title: </b>" + clickInfo.event.title;
                }
                
            }

            });
        calendar.render();
    </script>

    <div class = 'row'>
        <div class = 'col-md-9 justify-content-center'>
            <div id='meeting-content' class='content' style='display: none'>
                <p1 id='meeting-title'>Title: </p1>
            </div>
        </div>
    </div>

{% endblock content %}

