{% extends "Home.html" %}
{% block content %}
<div id="calendar" class="content h-100 w-100"></div>
    <script>
        let calendar_element = document.getElementById('calendar');
        let calendar = new FullCalendar.Calendar(calendar_element, {
            initialView: 'timeGridWeek',
            height: 850,
            width: 600,
            nowIndicator: true,
            selectable: true,
            events : [
                    {% for event in events %}
                    {
                        title : '{{event.title}}',
                        start : '{{event.start}}',
                    },
                    {% endfor %}
                ] 
            });
        calendar.render();
    </script>
{% endblock content %}

