{% extends "Index.html" %}
{% block content %}
{% endblock content %}

{% block navpane %}
<div class="col-md-4">
    <div class="content-section">
        <h3>Navigation Pane:</h3>
        <ul class="list-group">
            <li class="list-group-item list-group-item-light">
                <a href="{{url_for('dashboard')}}">Dashboard</a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a href="{{url_for('myMeetings')}}">My Meetings</a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a href="{{url_for('editAccount')}}">Edit Account</a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a href="{{url_for('ticketCenter')}}">Ticket Center</a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a href="{{url_for('help')}}">Help</a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a href="{{url_for('login')}}">Logout</a>
            </li>
        </ul>
    </div>
</div>
{% endblock navpane %}