{% extends "Home.html" %}
{% block content %}
<div class = "content">

        <div class="text-center">
            <h3>My Meetings</h3>
        </div>
        <br>

        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Room #</th>
                <th scope="col">Start Date & Time</th>
                <th scope="col">End Date & Time</th>
                <th scope="col">Creator ID</th>
              </tr>
            </thead>
            <tbody>
              {% for meeting in meetings %}
              <tr>
                <th scope="row">{{meeting.room_id}}</th>
                <td>{{meeting.start_time}}</td>
                <td>{{meeting.end_time}}</td>
                <td>{{meeting.creator}}</td>
              </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>



{% endblock content %}