{% extends "Home.html" %}
{% block content %}

<div class="content">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">

            {{ form.ticket_select.label(class="form-control-label") }}<br>
            {{ form.ticket_select(class="form-control") }}
            {{ form.hidden_tag() }}

            <ul>
                {%  for error in form.ticket_select.errors %}
                <li>{{  error }}</li>
                {%  endfor %}
            </ul>            
        </fieldset>

        <div class="form-group">
            {{form.submit(class="btn btn-primary")}}
        </div>

    </form>
</div>

{% if ticketform %}
    <div class="content">
        <form method="POST" action="">
        {{ticketform.hidden_tag()}}
            <fieldset class = "form-group">
                {{ticketform.id.label(class="form-control-label")}}
                {{ticketform.id(class="form-control")}}

                {{ticketform.content.label(class="form-control-label")}}
                {{ticketform.content(class="form-control")}}

                {% if ticketform.admin %}
                    {{ticketform.admin.label(class="form-control-label")}}
                    {{ticketform.admin(class="form-control")}}
                {% endif %}

                {% if ticketform.response %}
                    {{ticketform.response.label(class="form-control-label")}}
                    {{ticketform.response(class="form-control")}}
                {% endif %}
            </fieldset> 
        </form>
    </div>
{% endif %}
{% endblock content %}